/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700|P&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: hsl(0, 0%, 100%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #b29ae8;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: #6932e9ab;
  --clr-primary-9: hsl(0, 0%, 100%);
  --clr-primary-10: hsl(0, 0%, 100%);
  --clr-primary-11: #7c5dc0;

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 25%, 98%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --ff-primary: "Karla", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-tertiary: "Poppins", sans-serif;
  --ff-quadra: "Space Grotesk", sans-serif;

  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: #ffffff;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;

  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.4rem 0.6rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.81rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 0.8rem;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.btn1 {
  text-transform: uppercase;
  background: #34a7d4;
  color: var(--clr-primary-9);
  padding: 0.4rem 0.6rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.81rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 0.8rem;
}

.btn1:hover {
  color: var(--clr-primary-1);
  background: #217697;
}

.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.hero-btn2 {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-left: 4%;
}

.hero-btn2:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  /* 1170 */
}
/* .section-center1 {
  width: 90vw;
  margin: 0 auto;
  max-width: 1050px;
} */
@media screen and (min-width: 992px) {
  .section-center {
    width: 100vw;
  }
}

/* added during recording */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 2.2rem;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 3rem;
  color: #1d195a;

  text-align: center;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
  }
}
.project-page {
  animation: social-link 0.6s ease-in 0.2s;
  animation-fill-mode: both;
}

@keyframes social-link {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* page links */

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: var(--clr-primary-5);

  animation: social-link 0.6s ease-in 1s;
  animation-fill-mode: both;
}

@keyframes social-link {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.social-link:hover {
  color: var(--clr-primary-8);
}
/*
=============== 
Navbar
===============
*/

.logo {
  width: 157;
  height: 43;
  fill: none;
}

.line-break {
  height: 1px;
  background-color: transparent;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: transparent;
  animation: navbar 0.6s ease-in 1s;
  animation-fill-mode: both;
}

@keyframes navbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.nav-header img {
  margin-bottom: 0.375rem;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}
.toggle-btn:hover {
  color: var(--clr-primary-2);
}
.nav-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 2.2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 0.5rem 0;
  }
  .nav-links a:hover {
    color: var(--clr-primary-11);
    box-shadow: 0px 2px var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  background: var(--clr-grey-10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;

  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  transition: var(--transition);
  border-radius: var(--radius);

  text-transform: capitalize;
  color: var(--clr-grey-1);
  font-family: var(--ff-primary);

  font-weight: 500;
  letter-spacing: var(--spacing);
}
.sidebar-links li a:hover {
  color: var(--clr-primary-11);
  background: var(--clr-primary-9);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li a {
  color: var(--clr-primary-5);
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
=============== 
Header
===============
*/

.header {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 122px;
  padding-left: 3%;
  padding-right: 3%;
}

.circle-image {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  position: relative;
  z-index: 5;
}

.hero-grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  align-items: stretch;
  align-content: stretch;
  justify-items: stretch;
  justify-content: stretch;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  padding-top: 52px;
}

.display-h1 {
  margin-bottom: 20px;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 78px;
  line-height: 1.05;
  text-transform: none;
  animation: display-h1 0.6s ease-in 0.4s;
}

@keyframes display-h1 {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 500px) {
  .display-h1 {
    font-size: 49px;
  }

  .hero-content {
    padding-top: 0px;
  }

  .header {
    padding-top: 90px;
    padding-bottom: 92px;
  }

  .hero-grid {
    grid-template-columns: 1fr;
  }

  .hero-image-wrapper {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
  }
  .dots-image {
    width: 120px;
  }
}
span {
  color: #34a7d4;
}

.hero-paragraph {
  margin-bottom: 10px;
  max-width: 470px;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 25px;
  animation: hero-paragraph 0.6s ease-in 0.6s;
  animation-fill-mode: both;
}

@keyframes hero-paragraph {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero-buttons {
  animation: hero-button 0.6s ease-in 0.8s;
  animation-fill-mode: both;
}

@keyframes hero-button {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero-image-wrapper {
  position: relative;
  align-items: center;
  justify-items: center;
  animation: hero-image-wrapper 0.6s ease-in 1.2s;
  animation-fill-mode: both;
}

@keyframes hero-image-wrapper {
  0% {
    opacity: 0;
    transform: translateX(55px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dots-image {
  display: inline-block;
  max-width: 100%;
  position: absolute;
  top: 5%;
  left: 3%;
  z-index: 5;
  animation: dots-image 0.6s ease-in 1.2s;
  animation-fill-mode: both;
}

@keyframes dots-image {
  0% {
    opacity: 0;
    transform: translateX(55px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero-img {
  width: 100%;
  height: 100%;
  animation: hero-img 0.6s 1.6s;
  animation-fill-mode: both;
}

@keyframes hero-img {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  margin-top: -5rem;
  padding-top: 7rem;
  height: 95vh;
  position: relative;
  display: flex;
}

/* .circle-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
} */
.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  margin-left: 3rem;
  background: none;
}

.hero-info h1 {
  color: #000000;
  font-family: var(--ff-secondary);
  font-size: 4em;
  font-weight: 650;
}

.hero-info h2 {
  color: #000000;
  font-family: var(--ff-secondary);
  font-size: 1.75em;
  font-weight: 550;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}

/* animated hero info */

.animated-text {
  position: relative;
  overflow: hidden;
  height: 77px;
}

.animated-text h3 {
  color: #000000;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 5s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -75px;
  }
  50% {
    margin-top: -150px;
  }
  75% {
    margin-top: -75px;
  }
  100% {
    margin-top: 0;
  }
}

.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
  }
}
@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}

/*
=============== 
Services
===============
*/
.bg-grey {
  background: var(--clr-grey-10);
}

.line-break {
  height: 1px;
  background-color: #e3e3e6;
}

.skills-title {
  margin-top: 2rem;
  font-size: 20px;
  color: #b4b2c5;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.service {
  margin-top: 2rem;
  background: #fff;
  height: 250px;
  padding: 3rem 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 1rem;
  text-align: center;
  /* -webkit-transition: var(--transition); */
  transition: height 1000ms;
}

.service:hover {
  height: 400px;
}
.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.service:hover .label {
  transform: translateY(0);
}

.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
}
.service:hover .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}

.text-content {
  transform: translateY(-300px);
  transition: transform 1000ms;
}
.service:hover .text-content {
  transform: translateY(-15px);
}
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}
.service:hover .chevron {
  transform: rotate(0deg);
}

.service:nth-child(1) {
  background: #d0faf6;
}
.service:nth-child(2) {
  background: #dff8c6;
}
.service:nth-child(4) {
  background: #fcdcdf;
}
.service:nth-child(3) {
  background: #fdf1d8;
}

.service:nth-child(1, 2, 3) .service-icon {
  border-radius: 50%;
  background: #fff;
}

.service h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

.service-icon {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 35%;
  background: #fff;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.service:hover .underline {
  background: var(--clr-primary-9);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 500px) {
  .project-header {
    margin-top: 1rem;
  }
}

/* ==============
Hire-me
============== */

/* ------HIRE-ME ------*/
.hire-me {
  width: 90vw;
  margin: 0 auto;
  max-width: 925px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 100vw;
  }
}

@media screen and (min-width: 600px) {
  .section-center {
    width: 100vw;
  }
}

.hire-card {
  display: flex;
  border-radius: 1rem;
  background-color: #fff;
  max-width: 37.5;
  margin-top: 5rem;
  margin-bottom: -150px;
  padding: 0.8rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.753);
  justify-content: start;
}

.hire-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}
.hire-info h2 {
  font-size: 2.5rem;
}
.hire-btn-side {
  display: inline-block;
}

.hire-btn {
  display: flex;
  justify-content: start;
  margin-left: 7.5rem;
  margin-top: 1rem;
  text-transform: none;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.6rem;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 4rem;
}
.hire-btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.hire-btn h5 {
  margin-left: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.envelope-link {
  margin-top: 1rem;
  width: 10rem;
}

@media screen and (max-width: 600px) {
  .hire-card {
    padding: 0.5rem;
  }
  .hire-info h2 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: -0.3rem;
  }
  .hire-info p {
    font-size: 1rem;
    margin-left: -0.3rem;
  }
  .hire-btn {
    display: none;
  }

  .envelope-link {
    margin-top: 1.3rem;
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .envelope-link {
    margin: 1rem;
    width: 5rem;
  }
}

/*
=============== 
Testimonials
===============
*/

.bg-grey {
  background: var(--clr-grey-10);
}

.line-break {
  height: 1px;
  background-color: #e3e3e6;
}

.testimonial {
  margin-top: 5rem;
  background: #fff;

  padding: 3rem 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.testimonial:nth-child(2) {
  background: #d8fdf9;
}
.testimonial:nth-child(4) {
  background: #dff8c6;
}
.testimonial:nth-child(3) {
  background: #ffe9ea;
}
.testimonial:nth-child(1) {
  background: #fff4de;
}

.testimonial:nth-child(1, 2, 3) .service-icon {
  border-radius: 50%;
  background: #fff;
}

.testimonial h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

.testimonial-header {
  position: relative;
  height: 48px;
}

.testimonial-image {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  left: 50%;
  position: absolute;
  border: 6px solid #fff;
  transform: translate(-50%, -100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.quote-image {
  margin-top: -2em;
  margin-bottom: 1em;
  width: 45px;
}

.testimonial .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.testimonial:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.testimonial:hover .underline {
  background: var(--clr-primary-9);
}
@media screen and (min-width: 676px) {
  .testimonials-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .testimonials-center {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

/*
=============== 
Projects
===============
*/
.project-header {
  margin-top: 3rem;
}

.project-header2 {
  margin-top: 6rem;
}
.projects {
  background: var(--clr-grey-10);
}
.project {
  display: grid;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.project-img {
  border-radius: 1.5rem;
  /* border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius); */
  height: 19rem;
  z-index: 1;
}

.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project:hover .project-img::after {
  opacity: 0.7;
  background: linear-gradient(to bottom right, #dcdce4, #d7d5ee);

  transition: var(--transition);
}
.project-info {
  position: absolute;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 2.5rem;
  border-radius: 1rem;
  z-index: 3;
  opacity: 0;
  background: #55527c;
  transform: translateY(30px);

  transition: 0.5s all;
}

.project-info:hover {
  opacity: 1;
  transform: translateY(0px);
}

.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--clr-primary-5);
  margin-bottom: 0.75rem;
}
.project-info h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.project-slug h3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  transition: var(--transition);
}
.project-slug h3:hover {
  color: var(--clr-primary-5);
}
.project-desc {
  word-spacing: 15px;
  color: var(--clr-grey-3);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack span {
  display: inline-block;
  color: #fff;
  margin-right: 0.8rem;
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-color: #f8979b;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.about-stack span {
  display: inline-block;
  background: #bea8f3;
  color: #fff;
  font-weight: 600;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.about-stack span {
  margin-top: 0.5rem;
}
.about-stack span:hover {
  background: #a88ce9;
}

.project-icon {
  color: var(--clr-primary-1);

  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.project-icon:hover {
  color: var(--clr-primary-5);
}
@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
  }
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
.section-projects {
  position: relative;
}

@media screen and (max-width: 600px) {
  .section-projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.work-Bg {
  position: absolute;
  top: 8%;
  right: 0;
  width: 70%;
  min-height: 620px;
  border-radius: 2rem;
  background-color: #e8edfd;
  z-index: -1;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .work-Bg {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/*
===============
Project Template Page
===============
*/
.project-template-page {
  padding-top: 3rem;
  text-align: center;
}
.project-template-page h2 {
  text-transform: uppercase;
}
.project-template-page p {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
}

/*
===============
Footer
===============
*/
.footer {
  height: 9rem;
  background: #222;
  text-align: center;
  display: grid;
  place-items: center;
}
.footer h4 {
  margin-top: 0.5rem;
  color: var(--clr-white);
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: var(--clr-primary-5);
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: var(--clr-white);
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}
/*
===============
Pages
===============
*/
.blog-template,
.projects-page,
.blog-page,
.error-page,
.about-page,
.contact-page {
  background: var(--clr-grey-10);
  min-height: calc(100vh - 5rem - 9rem);
}
.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-10);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}

/*
===============
About Page
===============
*/
.about-page {
  padding: 7rem 0;
}
.about-img {
  margin-bottom: 2rem;
  height: 25rem;
}
.about-img-svg {
  margin-bottom: 2rem;
  height: 25rem;
  width: 100%;
  display: block;
}
.about-text .section-title {
  margin-bottom: 2rem;
  text-align: left;
}
.about-text .underline {
  margin-left: 0;
  margin-right: 0;
}
.about-text p {
  line-height: 2.4;
  font-family: var(--ff-tertiary);
  font-size: 18px;
}
.stack-container {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
}
.stack-container span {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: var(--clr-grey-4);
}
.stack-icon {
  color: var(--clr-primary-5);
  margin-right: 0.25rem;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about-img,
  .about-img-svg {
    grid-column: 1 / span 5;
    margin-bottom: 0;
  }
  .about-text {
    grid-column: 6 / -1;
  }
}
/*
===============
Contact Page
===============
*/
.contact-page {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 90vw;
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: var(--dark-shadow);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/*
===============
Blog Template
===============
*/
.blog-template {
  padding: 5rem 0;
}

.blog-template h1,
.blog-template h2 {
  text-align: center;
}
.blog-template ul {
  margin-top: 2rem;
  display: inline-block;
}
.blog-template ul li {
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.blog-template blockquote {
  background: var(--clr-primary-9);
  border-radius: var(--radius);
  padding: 1rem;
  line-height: 2;
  color: var(--clr-primary-5);
  margin: 2rem 0;
}
.blog-template pre {
  background: #222;
  color: yellow;
  overflow-x: scroll;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
}
.blog-template img {
  width: 15rem;
  height: 15rem;
  margin: 3rem 0;
  object-fit: cover;
}
